<% provide :title, 'Mailing lists' %>
<% provide :button, link_to("Add New", new_mailing_list_path, class: 'btn btn-success pull-xs-right') %>

<div id="mailing_lists">

  <ul class="list list-unstyled">
    <%= render @mailing_lists %>
  </ul>
</div>
